extends layout

block content
  img(src='img/mer.png' alt='mer')
  .parag
    ul.ul_inf
      h5 install express-generator:
      li npm install express-generator -g
      li npm install pug -g
      li npm install pug-cli -g
    ul.ul_inf
      h5 new project express:
      li express --view=pug projet_mysql
      li cd projet_mysql
      li npm i multer
      li npm i mysql
           
